// 颜色
$classic-white: #FFF;

$brand-blue: #409EFF;
$color-primary-light-2: #337ecc;
$color-primary-light-3: #79bbff;
$color-primary-light-5: #a0cfff;
$color-primary-light-7: #c6e2ff;
$color-primary-light-8: #d9ecff;
$color-primary-light-9: #ecf5ff;

$fresh-green: #67C23A;
$color-success-light-2: #529b2e;
$color-success-light-3: #95d475;
$color-success-light-5: #b3e19d;
$color-success-light-7: #d1edc4;
$color-success-light-8: #e1f3d8;
$color-success-light-9: #f0f9eb;

$danger-red: #F56C6C;
$color-danger-light-2: #c45656;
$color-danger-light-3: #f89898;
$color-danger-light-5: #fab6b6;
$color-danger-light-7: #fcd3d3;
$color-danger-light-8: #fde2e2;
$color-danger-light-9: #fef0f0;

$info-gray: #909399;
$color-gray-light-1: #777;
$color-gray-light-2: #73767a;
$color-gray-light-3: #b1b3b8;
$color-gray-light-5: #c8c9cc;
$color-gray-light-7: #dedfe0;
$color-gray-light-8: #e9e9eb;
$color-gray-light-9: #f4f4f5;

$default-white: #FFFFFF;
$search-content-color: #ede;
$search-font-color: #ede;
$color-search-white-9: #eee;

// 字体
$font-content-family: "新宋体";
$font-icons-size: 28px;
$font-content-size-21: 21px;
$font-content-size-16: 16px;
$font-content-size-14: 14px;
$content-line-height: 120%;