@font-face {
  font-family: "iconfont"; /* Project id 3849543 */
  src: url('iconfont.woff2?t=1713927610598') format('woff2'),
       url('iconfont.woff?t=1713927610598') format('woff'),
       url('iconfont.ttf?t=1713927610598') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
  content: "\e66c";
}

.icon-edit1:before {
  content: "\e66d";
}

.icon-edit2:before {
  content: "\e66e";
}

.icon-edit3:before {
  content: "\e66f";
}

.icon-edit4:before {
  content: "\e670";
}

.icon-edit5:before {
  content: "\e671";
}

.icon-edit6:before {
  content: "\e715";
}

.icon-edit7:before {
  content: "\e69a";
}

.icon-edit8:before {
  content: "\e672";
}

.icon-edit9:before {
  content: "\e6aa";
}

.icon-cc-delete:before {
  content: "\e6c9";
}

.icon-delete:before {
  content: "\e66a";
}

.icon-delete1:before {
  content: "\e605";
}

.icon-delete2:before {
  content: "\e600";
}

.icon-delete3:before {
  content: "\e66b";
}

.icon-duihao:before {
  content: "\eaf1";
}

.icon-confirm-line:before {
  content: "\e669";
}

.icon-duigou_kuai:before {
  content: "\ed1d";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-QQ:before {
  content: "\e667";
}

.icon-zhifubao:before {
  content: "\e609";
}

.icon-weixin:before {
  content: "\e668";
}

.icon-fangda:before {
  content: "\e611";
}

.icon-quanping:before {
  content: "\e612";
}

.icon-bofang:before {
  content: "\e613";
}

.icon-shipin:before {
  content: "\e614";
}

.icon-pinglun-liuyan:before {
  content: "\e615";
}

.icon-erweima:before {
  content: "\e616";
}

.icon-bianji_editor:before {
  content: "\e617";
}

.icon-pptwenjian_file-ppt:before {
  content: "\e618";
}

.icon-bofang_play:before {
  content: "\e619";
}

.icon-bofang_play-one:before {
  content: "\e61a";
}

.icon-buxihuan_dislike:before {
  content: "\e61b";
}

.icon-daima_code:before {
  content: "\e61c";
}

.icon-daimawenjianjia_folder-code:before {
  content: "\e61d";
}

.icon-dayinji_printer:before {
  content: "\e61e";
}

.icon-erweima_two-dimensional-code-two:before {
  content: "\e61f";
}

.icon-guanbi_close:before {
  content: "\e620";
}

.icon-gengduo1_more-one:before {
  content: "\e621";
}

.icon-daimawenjian_file-code:before {
  content: "\e622";
}

.icon-gongzuotai_workbench:before {
  content: "\e623";
}

.icon-gengduo_more:before {
  content: "\e624";
}

.icon-fenxiang_share:before {
  content: "\e625";
}

.icon-jia_plus:before {
  content: "\e626";
}

.icon-guzhangtu_damage-map:before {
  content: "\e627";
}

.icon-gengduo2_more-two:before {
  content: "\e628";
}

.icon-jiantouxia_arrow-down:before {
  content: "\e629";
}

.icon-gouwuche_shopping:before {
  content: "\e62a";
}

.icon-jihua_plan:before {
  content: "\e62b";
}

.icon-huatitaolun_topic-discussion:before {
  content: "\e62c";
}

.icon-guanbitixing_close-remind:before {
  content: "\e62d";
}

.icon-lianjieduankai_unlink:before {
  content: "\e62e";
}

.icon-huati_topic:before {
  content: "\e62f";
}

.icon-lianjie_link:before {
  content: "\e630";
}

.icon-qudibu_to-bottom:before {
  content: "\e631";
}

.icon-biaoqian_tag-one:before {
  content: "\e632";
}

.icon-qudingbu_to-top:before {
  content: "\e633";
}

.icon-qiehuan_switch:before {
  content: "\e634";
}

.icon-jiazai_loading-one:before {
  content: "\e635";
}

.icon-qianbao_wallet:before {
  content: "\e636";
}

.icon-jingbao_alarm:before {
  content: "\e637";
}

.icon-saoma_scan-code:before {
  content: "\e638";
}

.icon-quanxian_permissions:before {
  content: "\e639";
}

.icon-quanpingbofang_full-screen-play:before {
  content: "\e63a";
}

.icon-quanjufangda1_full-screen-one:before {
  content: "\e63b";
}

.icon-rili_calendar:before {
  content: "\e63c";
}

.icon-quanbu_all-application:before {
  content: "\e63d";
}

.icon-shouqicaidan_menu-fold:before {
  content: "\e63e";
}

.icon-shangchuan1_upload-one:before {
  content: "\e63f";
}

.icon-shanchu_delete-two:before {
  content: "\e640";
}

.icon-shuangxiangshujuhuchuan_transfer-data:before {
  content: "\e641";
}

.icon-shuqian_bookmark:before {
  content: "\e642";
}

.icon-kaiguan_power:before {
  content: "\e643";
}

.icon-shijian_time:before {
  content: "\e644";
}

.icon-shangchuan_upload:before {
  content: "\e645";
}

.icon-shouye_home:before {
  content: "\e646";
}

.icon-shuaxin_refresh:before {
  content: "\e647";
}

.icon-sousuo_search:before {
  content: "\e648";
}

.icon-tixing_remind:before {
  content: "\e649";
}

.icon-shuangzuo_double-left:before {
  content: "\e64a";
}

.icon-tishi_tips:before {
  content: "\e64b";
}

.icon-wendangjiazi_document-folder:before {
  content: "\e64c";
}

.icon-shuangyou_double-right:before {
  content: "\e64d";
}

.icon-wendang_word:before {
  content: "\e64e";
}

.icon-xihuan_like:before {
  content: "\e64f";
}

.icon-wenjianjia-kai_folder-open:before {
  content: "\e650";
}

.icon-xia-jiantou_arrow-circle-down:before {
  content: "\e651";
}

.icon-shezhi_setting-two:before {
  content: "\e652";
}

.icon-wenjiangui_file-cabinet:before {
  content: "\e653";
}

.icon-wode_me:before {
  content: "\e654";
}

.icon-touxiang_avatar:before {
  content: "\e655";
}

.icon-wenjianjia-guan_folder-close:before {
  content: "\e656";
}

.icon-xunhuanbofang_play-cycle:before {
  content: "\e657";
}

.icon-xiazai2_download-two:before {
  content: "\e658";
}

.icon-xingxing_star:before {
  content: "\e659";
}

.icon-yulan-guanbi_preview-close-one:before {
  content: "\e65a";
}

.icon-zanting_pause-one:before {
  content: "\e65b";
}

.icon-yulan-guanbi_preview-close:before {
  content: "\e65c";
}

.icon-xiangji_camera:before {
  content: "\e65d";
}

.icon-yasuowenjian_file-zip:before {
  content: "\e65e";
}

.icon-zhankaicaidan_menu-unfold:before {
  content: "\e65f";
}

.icon-yulan-dakai_preview-open:before {
  content: "\e660";
}

.icon-zhuyi_attention:before {
  content: "\e661";
}

.icon-zhaopian_pic:before {
  content: "\e662";
}

.icon-zanting_pause:before {
  content: "\e663";
}

.icon-xinxi_info:before {
  content: "\e664";
}

.icon-tianjia_add-one:before {
  content: "\e665";
}

.icon-xia_down:before {
  content: "\e666";
}

.icon-yonghu:before {
  content: "\e601";
}

.icon-gouwuche:before {
  content: "\e602";
}

.icon-dizhi:before {
  content: "\e603";
}

.icon-dianzan:before {
  content: "\e604";
}

.icon-liulan:before {
  content: "\e606";
}

.icon-xiazai:before {
  content: "\e607";
}

.icon-fenxiang:before {
  content: "\e608";
}

.icon-huichuan:before {
  content: "\e60a";
}

.icon-biaodan:before {
  content: "\e60b";
}

.icon-dianji:before {
  content: "\e60c";
}

.icon-jiantou:before {
  content: "\e60d";
}

.icon-sousuo:before {
  content: "\e60e";
}

.icon-shijian:before {
  content: "\e60f";
}

.icon-mulu:before {
  content: "\e610";
}

